<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhq.mapper.SingleSelectQuestionMapper">
<!--    查询单选题列表-->
<!--    List<SingleSelectQuestion> findSingleSelectQuestionList();-->
    <select id="findSingleSelectQuestionList" resultType="SingleSelectQuestion">
        select *
        from single_select_question
    </select>
<!--        批量添加题目-->
<!--    void insertBatchQuestion(@Param("singleSelectQuestionList") List<SingleSelectQuestion> singleSelectQuestionList);-->
    <insert id="insertBatchQuestion">
        insert into single_select_question values
        <foreach collection="singleSelectQuestionList" item="singleSelectQuestion" separator=",">
            (null,#{singleSelectQuestion.question},#{singleSelectQuestion.optionA},#{singleSelectQuestion.optionB},
            #{singleSelectQuestion.optionC},#{singleSelectQuestion.optionD},
            #{singleSelectQuestion.answer},#{singleSelectQuestion.analysis},
            #{singleSelectQuestion.subjectId},#{singleSelectQuestion.chapterId},
        </foreach>
    </insert>
<!--    插入一条记录-->
<!--    void insertOneQuestion(@Param("singleSelectQuestion") SingleSelectQuestion singleSelectQuestion);-->
    <insert id="insertOneQuestion">
        insert into ingle_select_question values
        (null,#{question},#{optionA},#{optionB},
            #{optionC},#{optionD},
            #{answer},#{analysis},
            #{subjectId},#{chapterId},
    </insert>
<!--    根据questionId查询单选题-->
<!--    SingleSelectQuestion findQuestionByQuestionId(@Param("questionId") Integer questionId);-->
    <select id="findQuestionByQuestionId" parameterType="Integer" resultType="SingleSelectQuestion">
        select question_id,question,optionA,optionB,optionC,optionD,answer,subject_id,chapter_id,analysis
        from single_select_question
        where question_id=#{questionId}
    </select>
<!--    修改单选题-->
<!--    void updateByQuestion(@Param("singleSelectQuestion") SingleSelectQuestion singleSelectQuestion);-->
    <update id="updateByQuestion" parameterType="SingleSelectQuestion">
        update single_select_question
        set question=#{question},optionA=#{optionA},optionB=#{optionB},optionC=#{optionC},optionD=#{optionD},
            answer=#{answer},subject_id=#{subjectId},chapter_id=#{chapterId},analysis=#{analysis}
        where question_id=#{questionId}
    </update>
<!--    根据questionId删除单选题-->
<!--    void deleteQuestionByQuestionId(@Param("questionId") Integer questionId);-->
    <delete id="deleteQuestionByQuestionId" parameterType="Integer">
        delete from single_select_question
        where question_id=#{questionId}
    </delete>
<!--    根据subjectId删除单选题-->
<!--    void deleteQuestionBySubjectId(@Param("subjectId") Integer subjectId);-->
    <delete id="deleteQuestionBySubjectId">
        delete from single_select_question
        where subject_id=#{subjectId}
    </delete>
<!--    根据chapterId删除单选题-->
<!--    void deleteQuestionByChapterId(@Param("chapterId") Integer chapterId);-->
    <delete id="deleteQuestionByChapterId">
        delete from single_select_question
        where chapter_id=#{chapterId}
    </delete>
</mapper>