<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhq.mapper.TrueOrFalseQuestionMapper">

<!--    查找判断题列表-->
<!--    List<TrueOrFalseQuestion> findAllTrueOrFalseQuestion();-->
    <select id="findAllTrueOrFalseQuestion" resultType="TrueOrFalseQuestion">
        select question_id,question,answer,subject_name,chapter,account_user,analysis
        from true_or_false_question
    </select>

<!--    批量插入数据-->
<!--    void insertBatchTrueOrFalseQuestion(@Param("trueOrFalseQuestions") List<TrueOrFalseQuestion> trueOrFalseQuestions);-->
    <insert id="insertBatchTrueOrFalseQuestion">
        insert into true_or_false_question values
        <foreach collection="trueOrFalseQuestions" item="trueOrFalseQuestion" separator=",">
            (null,#{trueOrFalseQuestion.question},
            #{trueOrFalseQuestion.answer},#{trueOrFalseQuestion.analysis},
            #{trueOrFalseQuestion.subjectName},#{trueOrFalseQuestion.chapter},
            #{trueOrFalseQuestion.accountUser})
        </foreach>
    </insert>

<!--    插入一条记录-->
<!--    void insertOneQuestion(@Param("trueOrFalseQuestion") TrueOrFalseQuestion trueOrFalseQuestion);-->
    <insert id="insertOneQuestion">
        insert into true_or_false_question values
            (null,#{question}, #{answer},#{analysis}, #{subjectName},#{chapter},
            #{accountUser})
    </insert>
<!--    根据questionId查询多选题-->
<!--    void findTrueOrFalseQuestionId(@Param("questionId") Integer questionId);-->
    <select id="findTrueOrFalseQuestionId" resultType="TrueOrFalseQuestion">
        select question_id,question,answer,subject_name,chapter,account_user,analysis
        from true_or_false_question
        where question_id=#{questionId}
    </select>

<!--    修改多选题-->
<!--    void updateTrueOrFalseQuestion(TrueOrFalseQuestion trueOrFalseQuestion);-->
    <update id="updateTrueOrFalseQuestion">
        update true_or_false_question
        set question=#{question},answer=#{answer},subject_name=#{subject_name},
        chapter=#{chapter},account_user=#{accountUser},analysis=#{analysis}
        where question_id=#{questionId}
    </update>

<!--    根据questionId删除多选题-->
<!--    void deleteTrueOrFalseQuestion(@Param("questionId") Integer questionId);-->
    <delete id="deleteTrueOrFalseQuestion">
        delete from true_or_false_question
        where question_id=#{questionId}
    </delete>
</mapper>