<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhq.mapper.TrueorfalseMapper">
    <select id="alltrueorfalse" resultType="Trueorfalse">
        select * from trueorfalse where subject = #{subject}
    </select>
</mapper>